<div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
        <p>{{course.name}}</p>
        <p class="card-text">This is a wider card with supporting text below as a natural
            lead-in to
            additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                <button (click)="openModal(template)" type="button"
                    class="btn btn-sm btn-outline-secondary">Supprimer</button>
            </div>
            <small class="text-muted">édité le
                {{course.dateUpdate | date: 'dd/MM/yyyy'}}</small>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Souhaitez-vous réellement supprimer ce parcours ?</p>
        <button type="button" class="btn btn-default" (click)="remove()">Oui, j'en suis sûr(e) !</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Euh... non en fait !</button>
    </div>
</ng-template>
