<div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
        <p>{{course.name}}</p>
        <p class="card-text">{{course.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button (click)="edit()" type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                <bw-remove-course (removeCourse)="remove()"></bw-remove-course>
            </div>
            <small class="text-muted">édité le
                {{course.dateUpdate | date: 'dd/MM/yyyy'}}</small>
        </div>
    </div>
</div>