<div class="modal-body">
    <form [formGroup]="formArticle" class="col-12 mx-auto mt-5 mb-5" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
            <label for="doi" class="col-12 col-form-label">Rechercher un article via son DOI*</label>
            <div class="col-12">
                <input id="doi" formControlName="doi" name="doi" placeholder="Entrer un identifiant DOI (eg: 10.1000/123456...)"
                    class="form-control here" type="text" autocomplete="false" autocorrect="false">
                <small *ngIf="doi.errors && doi.dirty" class="form-text text-muted">
                    <span [hidden]="!doi.errors.required">
                        Un identifiant DOI est requis
                    </span>
                    <span [hidden]="!doi.errors.pattern">
                        L'identifiant DOI n'est pas valide (eg: 10.1000/123456...).
                    </span>
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!formArticle.valid"
            [ngClass]="{'btn-success': formArticle.valid, 'btn-default': !formArticle.valid}">
            Valider
        </button>
    </form>
</div>
