<form [formGroup]="formAccount">
    <div class="form-group row">
        <label for="email" class="col-4 col-form-label">Adresse électronique*</label>
        <div class="col-8">
            <input id="email" name="email" placeholder="Votre adresse électronique" class="form-control here"
                type="email" autocomplete="false" autocorrect="false" [value]="user?.email" readonly
                tooltip="Vous ne pouvez pas encore modifier votre adresse électronique." placement="left">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button disabled class="btn-default" name="submit" type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>