<form [formGroup]="formProfile" (ngSubmit)="submit()" novalidate role="form">
    <div class="form-group form-row">
        <label for="firstname" class="col-4 col-form-label">Prénom*</label>
        <div class="col-8">
            <input id="firstname" formControlName="firstname" name="firstname" placeholder="Votre prénom"
                class="form-control" type="text" autocomplete="false" autocorrect="false">
            <small *ngIf="firstname.errors && firstname.dirty" class="form-text text-muted">
                <span [hidden]="!firstname.errors.required">
                    Un prénom est requis.
                </span>
                <span [hidden]="!firstname.errors.minlength">
                    Le prénom doit comprendre au moins 3 caractères.
                </span>
            </small>
        </div>
    </div>
    <div class="form-group form-row">
        <label for="lastname" class="col-4 col-form-label">Nom*</label>
        <div class="col-8">
            <input id="lastname" name="lastname" formControlName="lastname" placeholder="Votre nom"
                class="form-control" type="text" autocomplete="false" autocorrect="false">
            <small *ngIf="lastname.errors && lastname.dirty" class="form-text text-muted">
                <span [hidden]="!lastname.errors.required">
                    Un nom est requis.
                </span>
                <span [hidden]="!lastname.errors.minlength">
                    Le nom doit comprendre au moins 3 caractères.
                </span>
            </small>
        </div>
    </div>
    <div class="form-group form-row">
        <label for="roles" class="col-4 col-form-label">Rôle(s)</label>
        <div class="col-4" tooltip="Vous ne pouvez pas modifier vos rôles." placement="right">
            <input id="roles" class="form-control-plaintext" type="text" [value]="roles" readonly>
        </div>
    </div>
    <div class="form-group form-row">
        <label for="jobBackground" class="col-4 col-form-label">Activités*</label>
        <div class="col-8">
            <textarea id="jobBackground" name="jobBackground" formControlName="jobBackground" cols="40" rows="4"
                class="form-control" autocomplete="false" autocorrect="false"
                placeholder="Ajouter une description de vos activités"></textarea>
            <small *ngIf="jobBackground.errors && jobBackground.dirty" class="form-text text-muted">
                <span [hidden]="!jobBackground.errors.required">
                    Une description est requise.
                </span>
                <span [hidden]="!jobBackground.errors.minlength">
                    La description doit faire au moins 5 caractères.
                </span>
            </small>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="offset-4 col-8">
            <button [disabled]="!formProfile.valid"
                [ngClass]="{'btn-success': formProfile.valid, 'btn-default':!formProfile.valid}" name="submit"
                type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>