<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="submit()">
                <input class="form-control mr-3 w-75" formControlName="search" type="text"
                    placeholder="Effectuez une recherche" aria-label="Rechercher" autocomplete="false"
                    autocorrect="false">
                <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid"
                    [ngClass]="{'btn-success': searchForm.valid, 'btn-default': !searchForm.valid}">
                    <i class="material-icons" aria-hidden="true">search</i>
                </button>
            </form>
        </div>
    </div>
</div>