<!-- Footer Elements -->
<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!-- Form -->
            <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Effectuez une recherche"
                    aria-label="Rechercher">
                <i class="material-icons" aria-hidden="true">search</i>
            </form>
            <!-- Form -->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>